// 主色调
$main-color: #E40137;

// 辅助色
$primary-color: #00B8D4;

// 成功色
$success-color: #1DC779;

// 警示色
$warn-color: #FFB302;

// 错误颜色
$error-color: #FF4949;

// 主体文字
$font-color: #181A39;

// 边框 分割色
$border-color: #D8DDE3;

// 黑色
$black-color:#000000;

// 次重要文字
$secondary-font-color:#545671;

// 背景色
$background-color:#F9F9F9;

// 白色
$white-color:#ffffff;

// 次要文字
$minor-font-color:#B4B4BD;